<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" .}}

    <div class="jumbotron default-header">
        <div class="container">
          <h1>{{ with .Section }}{{ title . }}{{ else }}RSCM Carolina Course for Girls &amp; Adults{{ end }}</h1>
      </div>
    </div>

    <div class="container">
      <div class="col-md-8 center-block">

          <div class="page-header">
            <h1>{{ .Title }}</h1>
            <p class="text-muted">{{ .Date.Format "January 2, 2006" }}</p>
          </div>

            {{ .Content }}
      </div>

          <p class="text-center">
          {{ with .PrevInSection }}
          <a href="{{ .Permalink }}">Previous Year</a> |
          {{ end }}
          <a href="/{{ .Section }}">Back</a>
          {{ with .NextInSection }}
          | <a href="{{ .Permalink }}">Next Year</a>
          {{ end }}
          </p>

    </div><!-- /.container -->

    {{ partial "foot.html" . }}

  </body>
</html>
