{{ $length := len . }}
<div class="row">
{{ range $i, $v := . }}
{{ if and ( gt $i 0 ) ( modBool $i 3 ) }}
</div>
<div class="row">
{{ end }}
{{ if gt 3 $length }}
<div class="col-sm-{{ div 12 $length }}">
{{ else }}
<div class="col-sm-4">
{{ end }}
<figure>{{ with $v.img }}
<img src="{{ . }}" alt="{{ $v.name }}" class="img-responsive img-rounded center-block" style="height: 180px; width: 150px" />{{ end }}
<figcaption>
<p class="text-center"><strong>{{ $v.position }}</strong><br />{{ $v.name }}</p>
</figcaption>
</figure>
</div><!-- col-sm-X -->
{{ end }}
</div><!-- /row -->
